<div class="card mt-5">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="<%= @user.images.medium_url %>" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">User <b>#<%= @user.id %></b></h5>
        <p class="card-text">Name: <%= @user.name %></p>
        <p class="card-text">E-mail: <%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
